.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.item-wrapper {
  margin: 20px auto;
}
div.item-wrapper p{
  color: white;

}
div.item-wrapper a{
  text-decoration: none;
}
div.item-wrapper p:hover{
  color: white;
}
div.item-wrapper a:visited{
  color: white;
}

.nav {
	font-size: 1.6rem;
	font-weight: bold;

}

.form{
  box-shadow: darkgray;
  border: 1px solid darkgray;
  padding: 10px;
  background-color: #b6e2e2;
}
.form-group h1{
  color: black;
  word-spacing: 2px;
}
.form-group h3{
  color:  #606161;
}
.form-group h4 {
  color: black; 
}
.form-group {
	
}
.form-group label{
	color: #000;
	margin-right: 10px;
}
.form-row {
	display: flex;
	flex-direction: row;
	padding: .5em;
  // width: 700px;
}
.form-row > label{
  padding: .5em 1em .5em 0;
  letter-spacing: 0.075em; 
	margin-right: 10px;
}

.form-row > input{
  flex: 1;
  border: none;
  border-bottom: 1px solid  #aeb3b2;
	margin-left: 1rem;
}

.buttons  {
  
}
.form-button {
	display: inline-flex; 
  flex-direction: row;
	justify-content: center;
  width: 200px;
	margin-top: 50px;
	
	button {
		color: rgb(233, 233, 233);
		background-color: rgb(20, 160, 202);
    padding: 10px;
		border-radius: 4px;
		box-sizing: border-box;
    width: 150px;
    letter-spacing: 0.225em;
    
  }
  button:disabled {
    cursor: not-allowed;
    color: rgb(182, 179, 179);
    background-color: rgb(238, 235, 235);
  }
}

